.Form {
  padding-bottom: 50px;
}

.Form h2 {
  text-align: left;
}

input {
  display: block;
  margin: 20px auto;
  width: 95%;
}

input:nth-child(1),
input:nth-child(2) {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

input[type="textarea"] {
  border-style: groove;
  min-height: 100px;
}

input[type="textarea"]::-webkit-input-placeholder {
  position: absolute;
  top: 5px;
  left: 5px;
}

input[type="submit"] {
  background-color: #fff;
  padding: 10px 0;
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
    .Form {
        width: 70%;
        margin: auto;
    }
}

@media only screen and (min-width: 768px) {
    .input-groups {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    .input-groups div {
        flex: 1;
    }
}

@media only screen and (min-width: 1280px) {
    .Form {
        flex: 1;
        padding: 0 50px;
    }

    .input-groups {
        flex-direction: column;
    }

    .input-groups {
        align-items: normal;
    }
}
