.NavBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color:#fff;
    border-top: 2px solid #555;
}

.NavBar ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.NavBar li {
    display: inline-block;
    width: 33%;
}

.NavBar a {
    color: black;
}
