.Profile {
    padding: 20px 5px 0px 5px;
}

.profile-img-cont {
    width: 50%;
    display: inline-block;
}

.profile-img-cont img {
    border-radius: 50%;
}

.profile-icons {
    width: 50%;
    display: inline-block;
    vertical-align:top
}

.profile-icons ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.profile-icons li {
    display: inline-block;
    width: 40%;
    margin: 5%;
}

.profile-paragraph {
    max-width: 100%;
    display: block;
    word-break: break-word;
}

.profile-paragraph h1,
.profile-paragraph p {
    text-align: left;
}
